# ignore this files#
# 忽略所有视频
*.mp4
*.avi
*__pycache__
*.idea
*.pyc
*.zip
calligraphy/static/calligraphy/genimgs
calligraphy/zi2zi/ckpt
calligraphy/zi2zi/datasets/
calligraphy/zi2zi/.DS_Store
calligraphy/zi2zi/.idea/
calligraphy/zi2zi/paired_images/
calligraphy/zi2zi/checkpoint/
calligraphy/zi2zi/experiments/data/
calligraphy/zi2zi/experiments/
calligraphy/zi2zi/data/paired_images_finetune/
calligraphy/zi2zi/save_dir/
calligraphy/zi2zi/handwriting_preparation/characters/
calligraphy/zi2zi/chi_sim.traineddata
calligraphy/zi2zi/osd.traineddata
calligraphy/zi2zi/experiments_finetune/
